@import '../bootstrap'
@import '../theme'

radiogroup($material)
  .vf-input-group--selection-controls
    //

theme(radiogroup, "vf-radio-group")

.vf-radio-group
  .vf-input-group__details:before, .vf-input-group__details:after
    display: none

  .vf-input-group
    padding: 0

  &--column
    .vf-input-group__input
      display: block

  &--row
    .vf-input-group__input
      flex-direction: row

  &.vf-input-group--error
    .vf-radio
      label,
      .vf-icon--selection-control
        color: inherit
