@import '../bootstrap'
@import '../theme'

stepper($material)
  background: $material.bg-color

  .vf-stepper__step
    &:not(.vf-stepper__step--active):not(.vf-stepper__step--complete):not(.vf-stepper__step--error)
      .vf-stepper__step__step
        background: rgba($material.fg-color, $material.disabledORhints-text-percent)

    &__step
      color: $material.stepper.active

      .vf-icon
        color: $material.stepper.active

  .vf-stepper__header
    .vf-divider
      background: rgba($material.fg-color, $material.divider-percent)

  .vf-stepper__step
    &--active
      .vf-stepper__label
        text-shadow: 0px 0px 0px rgba($material.fg-color, 1)

    &--editable:hover
      background: rgba($material.fg-color, .06)

      .vf-stepper__label
        text-shadow: 0px 0px 0px rgba($material.fg-color, 1)

    &--complete
      .vf-stepper__label
        color: $material.stepper.completed

    &--inactive
      &.vf-stepper__step--editable
        &:hover
          .vf-stepper__step__step
            background: $material.stepper.hover

  .vf-stepper__label
    color: rgba($material.fg-color, $material.disabledORhints-text-percent)

    small
      color: rgba($material.fg-color, $material.secondary-text-percent)

  &--non-linear
    .vf-stepper__step:not(.stepper__step--complete)
      .vf-stepper__label
        color: rgba($material.fg-color, $material.secondary-text-percent)

  &--vertical
    .vf-stepper__content:not(:last-child)
      border-left: 1px solid rgba($material.fg-color, $material.divider-percent)

theme(stepper, "vf-stepper")

.vf-stepper
  overflow: hidden
  position: relative
  elevation(2)

.vf-stepper
  &__header
    align-items: stretch
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    elevation(2)

    .divider
      align-self: center
      margin: 0 -16px

.vf-stepper
  &__items
    position: relative
    overflow: hidden

.vf-stepper
  &__step__step
    align-items: center
    border-radius: 50%
    display: inline-flex
    font-size: 12px
    justify-content: center
    height: 24px
    margin-right: 8px
    min-width: 24px
    width: 24px
    transition: .3s $transition.fast-in-fast-out

    .vf-icon
      font-size: 18px

.vf-stepper
  &__step
    align-items: center
    display: flex
    flex-direction: row
    padding: 24px
    position: relative

    &--active
      .vf-stepper__label
        transition: .3s $transition.ease-in-out

    &--editable
      cursor: pointer

    &.vf-stepper__step--error
      .vf-stepper__step__step
        background: transparent
        color: inherit

        .vf-icon
          font-size: 24px
          color: inherit

      .vf-stepper__label
        color: inherit
        text-shadow: none
        font-weight: 500

        small
          color: inherit

.vf-stepper
  &__label
    align-items: flex-start
    display: flex
    flex-direction: column
    text-align: left

    small
      font-size: 12px
      font-weight: 300
      text-shadow: none

.vf-stepper
  &__wrapper
    overflow: hidden
    transition: none

.vf-stepper
  &__content
    top: initial
    bottom: 0
    padding: 16px
    flex: 1
    // Chrome has an issue with overflow hidden for rendering
    // Originally used translateZ but this messes up fixed
    // elements within the stepper
    // Fix for #512 and #620
    // overflow: hidden
    width: 100%

    .vf-btn
      margin-left: 0

  &--is-booted
    .vf-stepper__content, .vf-stepper__wrapper
      transition: .4s $transition.ease-in-out

.vf-stepper
  &--vertical
    padding-bottom: 36px

    .vf-stepper__content
      margin: -8px -36px -16px 36px
      padding: 16px 60px 16px 23px
      width: auto

    .vf-stepper__step
      padding: 24px 24px 16px

    .vf-stepper__step__step
      margin-right: 12px

  &--alt-labels
    .vf-stepper__header
      .vf-divider
        margin: 35px -67px 0
        align-self: flex-start

    .vf-stepper__step
      flex-direction: column
      justify-content: flex-start
      align-items: center
      flex-basis: 175px

      small
        align-self: center

    .vf-stepper__step__step
      margin-right: 0
      margin-bottom: 12px

@media $display-breakpoints.sm-and-down
  .vf-stepper:not(.stepper--vertical)
    .vf-stepper__label
      display: none

    .vf-stepper__step__step
      margin-right: 0
