@import './settings/_theme.styl'

app($component)
  .vf-application
    &.theme--light
      $component($material-light)
    &.theme--dark
      $component($material-dark)

theme($component, $name)
  light($component, $name)
  dark($component, $name)

light($component, $name)
  .theme--light .{$name},
  .vf-application .theme--light.{$name}
    $component($material-light)

dark($component, $name)
  .theme--dark .{$name},
  .vf-application .theme--dark.{$name}
    $component($material-dark)
