for size, query in $display-breakpoints
  .vf-hidden
    &-{size}
      @media query
        display: none !important

.vf-overflow-hidden
  overflow: hidden

.vf-overflow-x-hidden
  overflow-x: hidden

.vf-overflow-y-hidden
  overflow-y: hidden
