$i = 0
for level, spacer in $spacers
  .vf-mt-{$i}
    margin-top: spacer.y !important
  .vf-mr-{$i}
    margin-right: spacer.x !important
  .vf-mb-{$i}
    margin-bottom: spacer.y !important
  .vf-ml-{$i}
    margin-left: spacer.x !important
  .vf-mx-{$i}
    margin-left: spacer.x !important
    margin-right: spacer.x !important
  .vf-my-{$i}
    margin-top: spacer.y !important
    margin-bottom: spacer.y !important
  .vf-ma-{$i}
    margin: spacer.y spacer.x !important
    
  .vf-pt-{$i}
    padding-top: spacer.y !important
  .vf-pr-{$i}
    padding-right: spacer.x !important
  .vf-pb-{$i}
    padding-bottom: spacer.y !important
  .vf-pl-{$i}
    padding-left: spacer.x !important
  .vf-px-{$i}
    padding-left: spacer.x !important
    padding-right: spacer.x !important
  .vf-py-{$i}
    padding-top: spacer.y !important
    padding-bottom: spacer.y !important
  .vf-pa-{$i}
    padding: spacer.y spacer.x !important
    
  $i = $i + 1