for size, width in $grid-breakpoints
  @media all and (min-width: width)
    .vf-text-{size}-left
      text-align: left !important

    .vf-text-{size}-center
      text-align: center !important
      
    .vf-text-{size}-right
      text-align: right !important
      
    .vf-text-{size}-justify
      text-align: justify !important